<div id="expression-kind" class="btn-group-vertical col-md-6" role="group" ngbRadioGroup name="radioBasic">
    <label ngbButtonLabel class="btn-primary">
      <input id="expression-kind-regular" ngbButton type="radio" class="btn-check" value="regular"> regelmäßig (Gitter)
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input id="expression-kind-irregular" ngbButton type="radio" class="btn-check" value="irregular"> unregelmäßig
    </label>
</div>
  <div class="btn-group-vertical col-md-6">
      <input id="point-dense-min-input" type="text" class="form-control form-accuracy-pos" placeholder="min. Punktdichte [cm]" value="5"/>
      <input id="point-dense-max-input" type="text" class="form-control form-accuracy-height" placeholder="max. Punktdichte [cm]" value="5"/>
  </div>