
<div class="settings">
    <label class="fw-light">Institution</label>
    <input id="institution-input" type="text" class="form-control form-accuracy-pos" placeholder="Institution" value="Hochschule Bochum">
  
    <label class="fw-light">Name</label>
    <input id="name-input" type="text" class="form-control form-accuracy-pos" placeholder="Name" value="Max Mustermann">
  
    <label class="fw-light">Straße</label>
    <input id="street-input" type="text" class="form-control form-accuracy-pos" placeholder="Straße" value="Musterstraße">
  
    <label class="fw-light">Hausnummer</label>
    <input id="hno-input" type="text" class="form-control form-accuracy-pos" placeholder="Hausnummer" value="1">
  
    <label class="fw-light">PLZ</label>
    <input id="zip-input" type="text" class="form-control form-accuracy-pos" placeholder="PLZ" value="12345">
  
    <label class="fw-light">Land</label>
    <input id="country-input" type="text" class="form-control form-accuracy-pos" placeholder="Land" value="Musterland">
  
    <label class="fw-light">E-mail</label>
    <input id="mail-input" type="text" class="form-control form-accuracy-pos" placeholder="E-mail" value="max@mustermann.de">
  </div>