<!-- RGB -->
<div class="form-check">
    <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value="RGB"
    id="flexCheckRgb"
    />
    <label class="form-check-label" for="flexCheckDefault">
    RGB
    </label>
</div>
<!-- Intensität -->
<div class="form-check">
    <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value="Intensity"
    id="flexCheckIntensity"
    />
    <label class="form-check-label" for="flexCheckChecked">
    Intensität
    </label>
</div>
<!-- Andere -->
<div class="form-check">
    <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value="Other"
    id="flexCheckOther"
    />
    <label class="form-check-label" for="flexCheckChecked">
    Andere
    </label>
</div>