<div class="btn-group btn-group-toggle nav-link font-weight-bold" ngbRadioGroup name="radioBasic">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" class="btn-check" value="pointclouds">Punktwolken
    </label>
    <!-- <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="bim">BIM
    </label> -->
  </div>
  
  <hr class="row-custom" align="left">
  
  <app-filter></app-filter>
  
  <hr class="row-custom" align="left">
  
  <!-- <div *ngIf="sidebarSelection"> -->
    <app-pointclouds></app-pointclouds>
  <!-- </div> -->
  <hr class="row-custom" align="left">
  <app-buttons></app-buttons>
  
      